.right-side{
  margin: 3px;
  width: 300px;
}

label {
  display: inline-block;
  width: 120px;
  margin: 5px;
}

.sauces-input {
display: flex;
flex-direction: row;
}

.storage-input {
  display: flex;
  flex-direction: row;
}

#sauces {
  display: flex;
  flex-direction: column;
}

textarea {
  vertical-align: middle;
}

.buttons {
position: absolute;
left: 150px;  
margin-top: 20px;

}

.submit  {
  margin: 5px;
  background-color: blue;
  color:aliceblue;
  
}

.buttons input {
  border: 0.5px solid grey;
  border-radius: 3px;
}

.right-side:focus {
  outline: none;
  border: 2px solid red;
}
